.grandpa-container{

           
          border: 5px solid lightsalmon;
          border-radius: 5px ;
         
}


.grandpa div{

          border: 2px solid tomato;
          margin: 10px;
          padding: 10px;
          border-radius: 5px ;
         
          
          
}
.grandpa{
          display: flex;

}